body{
	margin: 0px;
	font-family: sans-serif;
}

.top-banner{
	background-color: #7E73FF;
	color: white;
	text-align: center;
	padding: 1px 0px;
}

.top-banner a{
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.first-div{
	padding: 25px 170px 25px 170px;
}

.menu{
	/*padding: 40px 180px;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
}

.menu a{
	color: red;
	background-color: white;
	padding: 15px 35px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 0 0 16px #D3D3D3;
}

.menu h1{
	font-weight: bold;
}

.menu img{
	width: 50px;
}

.main-part{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-part h2{
	font-size: 50px;
	font-weight: bolder;
}

.main-part img{
	border-radius: 6px;
}

.main-part b{
	background-color: #FFE7E7;
	color: red;
	padding: 3px 15px 5px 15px;
	border-radius: 3px;
}

.choix-ville{
	color: red;
	background-color: white;
	padding: 20px 35px;
	/*margin: 10px;*/
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 0 0 16px #D3D3D3;
}

.formations{
	color: white;
	background-color: red;
	padding: 20px 35px;
	/*margin: 10px;*/
	text-decoration: none;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 0 0 16px #D3D3D3;
}
